* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #f8f9fd;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    position: relative;
    width: 450px;
    height: 70vh;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px #f2f2f2;
}

.login-form {
    width: 100%;
}

.user-icon {
    font-size: 30px;
    background-color: #8d448b;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative;
    top: 10px;
}
i{
    color: #fff;
    position: absolute;
    top: 25px;
    left: 25px;
}

.main-box h3 {
    color: #8d448b;
    font-weight: 700;
    font-size: 20px;
    padding: 30px;
    margin-top: 40px;
}

.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.input-field input {
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 3px;
    border: none;
}

.remember-forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 16px;
}

.remember-forget label input {
    accent-color: #8d448b;
    margin-right: 10px;

}

label.accent {
    color: #8d448b;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
}

.remember-forget a {
    color: #8d448b;
    text-decoration: none;
    font-size: 16px;
}

.btn {
    width: 80%;
    height: 55px;
    background-color: #8d448b;
    border: none;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    position: absolute;
    top: 93%;
    left: 10%;
    right: 10%;
}

input::placeholder {
    font-size: 14px;
    font-family: "Poppins", Helvetica, sans-serif;
}
/* input[type="checkbox"]{
    appearance: none;
    height: 16px;
    width: 16px;
    background-color:#f2f2f2;
    cursor: pointer;
    outline: none;
}
input[type="checkbox"]:after{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
input[type="checkbox"]:checked{
    background-color: #8d448b;
}
input[type="checkbox"]:checked::after{
display: block;} */
